body {
	padding-top: 110px;
	padding-bottom: 40px;
}

.text-small {
	font-size: 1rem;
}

#form-refusebot {}
	#form-refusebot .form-group + button[type="submit"] {}

@media (min-width: 768px) {
	body {
		padding-top: 60px;
	}

	#form-refusebot {}
		#form-refusebot .form-group {
			min-width: 33rem;
		}

	#form-refusebot {}
		#form-refusebot .form-group + button[type="submit"] {
			position: absolute;
			bottom: 0;
			right: 0;
		}
}

@media (min-width: 992px) {
	#form-refusebot {}
		#form-refusebot .form-control {
			width: 88%;
		}
		#form-refusebot .form-group {
			min-width: 0;
		}
		#form-refusebot .form-group + button[type="submit"] {}
}