body {
	padding-top: 110px;
	padding-bottom: 40px;
}

.text-small {
	font-size: 1rem;
}

#refusebot {
	width: 325px;
	height: 365px;
	background-image: url('../img/refusebot_mouthClosed.jpg');
	background-repeat: no-repeat;
}
	#refusebot.open {
		background-image: url('../img/refusebot_mouthOpen.jpg');
	}

.speech-bubble {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: 5px solid #5a8f00;
	color: #333;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.speech-bubble:after {
	content: "";
	position: absolute;
	bottom: -13px;
	right: 47px;
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.speech-bubble:before {
	content: "";
	position: absolute;
	bottom: -20px;
	right: 40px;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #5a8f00 transparent;
	display: block;
	width: 0;
}

#form-refusebot {}
	#form-refusebot .form-group + button[type="submit"] {}

@media (min-width: 768px) {
	body {
		padding-top: 60px;
	}

	#form-refusebot {}
		#form-refusebot .form-group {
			min-width: 33rem;
		}

	#form-refusebot {}
		#form-refusebot .form-group + button[type="submit"] {
			position: absolute;
			bottom: 0;
			right: 0;
		}
}

@media (min-width: 992px) {
	#form-refusebot {}
		#form-refusebot .form-control {
			width: 88%;
		}
		#form-refusebot .form-group {
			min-width: 0;
		}
		#form-refusebot .form-group + button[type="submit"] {}
}